# Gradle
.gradle/
build/*
# Inkluder JAR-filer i build/libs i repo
!build/libs/
!build/libs/*.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
bin/

# Minecraft / Loom
run/
out/
logs/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Env / logs
*.log
.env
.env.local

# Backup
*.backup
*.bak
build.gradle.backup
build.gradle.minimal
